---
import type { LinksUteisItem } from "../types";
import ContentSection from "../layout/content-section.astro";

const links: Array<LinksUteisItem> = [
  {
    name: "4noobs",
    description:
      "Conteúdos de aprendizado tech feitas pela comunidade tech.",
    tags: ["Brasileiro", "Back-end", "Front-end", "DevOps"],
    url: "https://github.com/he4rt/4noobs",
    thumbnail_url: "https://i.imgur.com/Ty9ELbP.png",
  },
  {
    name: "Trilha.info",
    description:
      "Trilhas de aprendizado em programação totalmente em pt-br!",
    tags: ["Brasileiro", "Back-end", "Front-end", "DevOps"],
    url: "https://trilha.info",
    thumbnail_url: "https://i.imgur.com/ikPMRq4.png",
  },
  {
    name: "Roadmap.sh",
    description:
      "Trilhas de aprendizado em áreas de tecnologia em inglês.",
    tags: ["Estrangeiro", "Back-end", "Front-end", "DevOps"],
    url: "https://roadmap.sh",
    thumbnail_url: "https://roadmap.sh/images/og-img.png",
  },
  {
    name: "DH Back-end Roadmap",
    description:
      "Conteúdos de Back-end focados para quem é iniciante na área.",
    tags: ["Estrangeiro", "Back-end", "Sistemas Operacionais"],
    url: "https://roadmap.danielheart.dev",
    thumbnail_url: "https://roadmap.danielheart.dev/images/roadmap.jpeg",
  },

];
---

<ContentSection
  title="Links Úteis"
  description="Links úteis para quem está começando na área de programação."
  id="links"
  align="start"
  extraclass="xl:pl-8 2xl:mx-40"
>
  <div class="grid gap-4 md:grid-cols-2  lg:grid-cols-3">
    {
      links.map((link) => (
        <div class="max-w-sm overflow-hidden rounded bg-card shadow-lg ">
          <img
            class="w-full"
            src={`${link.thumbnail_url}`}
            alt="Sunset in the mountains"
          />
          <div class="px-6 py-4">
            <div class="mb-2 font-bold text-primary text-xl">{link.name}</div>
            <p class="text-card text-base line-clamp-2">
              {link.description}
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            {link.tags?.map((tag) => (
              <span class="mr-2 mb-2 inline-block rounded-full bg-gray-200 px-3 py-1 font-semibold text-gray-700 text-sm">
                #{tag}
              </span>
            ))}
          </div>
          <div class="px-6 pt-4 pb-2 mb-4">
            <a href={`${link.url}`} class="bg-button hover:bg-indigo-900 rounded-xl py-3 px-8 font-medium text-button">Acessar Conteúdo</a>
          </div>
        </div>
      ))
    }
  </div>
</ContentSection>
